@use "@/assets/scss/variable" as v;
@keyframes likeAnimation {
  from { opacity: 0; transform: scale(0.6); }
  50% { opacity: 1; transform: scale(1.3); }
  to { transform: scale(1); }
}

.button {
  width: 10.3rem;
  height: 3.9rem;
  font-size: 1.5rem;
  color: #fff;
  background: v.$color_primary_light;
  border-radius: 0.5rem;

  // 지역 선택
  &.location {
    width: 7.3rem;
    height: 3.3rem;
    color: #aaa;
    background: #fff;
    border: 1px solid;

    &.selected {
      color: v.$color_primary
    }
  }

  // 목적지 선택
  &.with-character{
    width: 100%;
    height: 5.4rem;
    padding-left: 1.6rem;
    font-weight: 700;
    text-align: left;
    background: v.$color_primary_light url(@/assets/images/main/btn_add_character.png) no-repeat 90% 13% / 28%;
    transition: background-position .5s;

    &:hover {
      background-position: 85% 42%;
    }
  }

  // 목적지 좋아요(저장)
  &.like {
    position: relative;
    width: 2.6rem;
    height: auto;
    background: none;

    &.isLike {
      img {
        opacity: 1 !important;
        animation: likeAnimation 0.3s;
      }
    }
  }

  // 나의 일정 추가
  &.addMyList {
    width: auto;
    height: auto;
    padding: 0.9rem 1.8rem;
    background: #b6b6b6;

    &.active {
      background: v.$color_primary;
    }
  }

  // 페이징
  &.btn-paging {
    $width: 3.8rem;

    width: $width;
    height: $width;
    color: v.$color_text_light;
    background: #fff;
    border: 0.1rem solid v.$color_text_light;
    border-radius: calc($width / 2);

    &.active {
      color: #fff;
      background: v.$color_primary_light;
      border: none;
    }

    &-prev,
    &-next {
      width: $width * 2;
      color: #fff;
      background: v.$color_primary_light;
      border: none;

      img {
        display: inline-block;
        vertical-align: -0.2rem;
        height: 40%;
      }
    }

    &-prev {
      img {
        margin-right: 0.5rem;
        transform: rotate(180deg);
      }
    }

    &-next {
      img {
        margin: 0 0 0 0.5rem;
      }
    }
  }
}