.inner {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2rem 4rem;
  background: rgba(0, 162, 255, .9);
  border-radius: 0.8rem;
  white-space: pre-line;
  text-align: center;
  z-index: 2;
  
  &.hotel {
    background: rgba(255, 183, 0, .9);
  }

  @media screen and (max-width: 499px) {
    width: 94%;
    padding: 1.2rem 1.4rem;
  }

  p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.3;
  }
}