@use "@/assets/scss/_variable" as s;

main {
  background: s.$color_bg;
  height: 100vh;
  overflow: hidden;
  
  .main {
    position: relative;
    width: 500px;
    height: 100vh;
    padding-bottom: 5rem;
    margin: 0 auto;
    background: #fff;
    overflow-y: auto;
  }
}