@use "@/assets/scss/_variable" as s;

main {
  background: s.$color_bg;
  //height: 100vh;
  //overflow: hidden;
  
  .main {
    position: relative;
    width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    //overflow-y: auto;

    @media screen and (max-width: 499px) {
      width: auto;
    }
  }
}