.inner {
  position: absolute;
  top: 2.5rem;
  left: 3.2rem;
  z-index: 99;

  @media screen and (max-width: 499px) {
    top: 2rem;
    left: 1.6rem;
  }

  h1 img {
    width: 5rem;

    @media screen and (max-width: 499px) {
      width: 4.5rem;
    }
  }
}