@use "@/assets/scss/variable.scss" as v;

.inner {
  @include v.mediaPadding;

  &-title {
    .result-title {
      margin-bottom: 2rem;
      font-size: 2.2rem;
      font-weight: 700;
    }

    .info-box {
      display: flex;
      margin-bottom: 2.2rem;
      justify-content: space-between;

      .place {
        font-size: 1.6rem;
        font-weight: 500;
      }

      button {
        width: 16rem;
      }
    }
  }

  .result-list {
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
  }
}