@use "@/assets/scss/variable" as v;

.inner {
  @include v.mediaPadding;

  .btn-back {
    margin-bottom: 1.5rem;
    width: 2.4rem;
  }

  .upper-box {
    position: relative;

    p {
      width: 90%;
    }

    .address {
      font-size: 1.5rem;
      color: v.$color_text_light;
    }

    .title {
      margin: 0.7rem 0 1.8rem;
      font-size: 2.4rem;
      font-weight: 700;
    }

    button {
      position: absolute;
      top: 2rem;
      right: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;

        &.base {
          filter: grayscale(1);
          opacity: .25;
        }

        &.animation {
          opacity: 0;
          transform: scale(1);
        }

        &.hotel {
          filter: invert(1);
        }
      }
    }
  }

  .img-box {
    margin: 3rem 0 2.8rem;
  }

  .cont-box {
    .description {
      font-size: 1.5rem;
      line-height: 1.5;
      word-break: keep-all;
    }
  }
}